<script>
	import Chart from 'chart.js';
	import moment from 'moment';
	import {colors} from '../colors'
	import 'moment/locale/es';
	import {provinceInfo} from '../data';
	import {afterUpdate, onMount} from 'svelte';
	import {provinces} from '../provinces';
	export let divId;
    export let provinceA = 'ECUADOR';
    export let provinceB = 'pichincha';
	var chart;
	let dates = [];
    var personsPerDayA = [12, 19];
    var personsPerDayB = [12, 19];
    var currentInfectedA = 0;
    var currentInfectedB = 0;

	onMount(
		() => {
			getInfectedPerProvince();
			generateStringDates();
			var ctx = document.getElementById(divId).getContext('2d');
			chart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: dates,
					datasets: [
					{
						label: provinceA,
						// type: 'bar',
						data: personsPerDayA,
						backgroundColor: 
							'rgba(255, 206, 86, 0.2)',
						
						borderColor: [
							'rgba(255, 99, 132, 1)',
						],
						borderWidth: 1
                    },
					{
						label: provinceB,
						// type: 'bar',
						data: personsPerDayB,
						backgroundColor: 
                            'rgba(75, 192, 192, 0.6)',
						
						borderColor: [
							'rgba(255, 99, 132, 1)',
						],
						borderWidth: 1
					}
                ]
				},
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true,
								fontColor: '#ffffff',
							},
						}],
						xAxes: [{
							ticks: {
								beginAtZero: false,
								fontColor: '#ffffff',
							},
						}],
					},
					legend: {
						labels: {
							fontColor: '#ffffff',
						}
					},
				}
			});
		});

	function addStringDate(date) {
		dates.push(date.format('DD MMM'));
	}

	function generateStringDates() {
		const startDate = moment("20200312", "YYYYMMDD");
		for(let i = 0; i < personsPerDayA.length; i++) {
			startDate.add(1, 'days');
			addStringDate(startDate);
		}
	}

	function getInfectedPerProvince() {
		personsPerDayA = provinceInfo[provinceA].infected;
        currentInfectedA = personsPerDayA[personsPerDayA.length - 1 ];
        
        personsPerDayB = provinceInfo[provinceB].infected; //.map(info => info * -1);
		currentInfectedB = personsPerDayB[personsPerDayB.length - 1 ];
	}

	afterUpdate(() => {
		if (chart) {
			updateChart();
		}
	})

	function updateChart() {
			getInfectedPerProvince();
			chart.data.datasets[0].data = personsPerDayA;
			chart.data.datasets[0].label = provinceA;
			chart.data.datasets[1].data = personsPerDayB;
			chart.data.datasets[1].label = provinceB;
			chart.update();
	}

</script>
<div class="row top-padding">
	<div class="col-sm-12">
		<h3 class="chart-title">Comparación de provincias</h3>
	</div>
</div>
<h4 class="sub-title">
	{provinceA.toUpperCase() + ' - ' + currentInfectedA + ' VS ' + provinceB.toUpperCase() + ' - ' + currentInfectedB}
</h4>
<form>
	<div class="form-group row">
		<label for="lbl3" class="col-sm-3 col-form-label label">Comparar</label>
		<div class="col-sm-3">
			<select id="lbl3" class="form-control form-control-sm" bind:value={provinceA} on:change="{() => updateChart() }">
				{#each provinces as province}
					<option value={province}>
						{province}
					</option>
				{/each}
			</select>
		</div>
		<label for="lbl4" class="col-sm-2 col-form-label label"> con </label>
		<div class="col-sm-4">
			<select id="lbl4" class="form-control form-control-sm" bind:value={provinceB} on:change="{() => updateChart() }">
				{#each provinces as province}
					<option value={province}>
						{province}
					</option>
				{/each}
			</select>
		</div>
	  </div>
</form>
<div class="row top-padding">
	<div class="col-sm-12">
		<canvas id="chartContainer4" class="chart-text" style="height: 30vh; width: 100%;"></canvas>
	</div>
</div>
<style>
	.chart-title{
		color: #ffffff;
	}

	.autcomplete {
		display: flexbox;
	}

	.sub-title {
		font-size: 1.5rem;
		color: #b1bdc5;
	}

	.label{
		font-size: 1.5rem;
		color: #c6c6c6;
	}


	select {
		color: #000000;
		background-color: #c6c6c6;
	}
</style>

