<script>
	import PieChart from '../pie-chart/PieChart.svelte';
	import moment from 'moment';
	import {colors} from '../colors'
	import 'moment/locale/es';
	import {provinceInfo} from '../data';
	import {afterUpdate} from 'svelte';
	import {onMount} from 'svelte';
	export let divId;
	export let currentProvince = 'ECUADOR';
	var chart;
	let dates = [];
	var personsPerDay = [];
	var currentInfected = 0;
	export let type = 'bar';
	export let datasetLabel = 'contagiados';
	var scales = {
		yAxes: [{
			ticks: {
				beginAtZero: true,
				fontColor: '#ffffff',
			},
		}],
		xAxes: [{
			ticks: {
				beginAtZero: false,
				fontColor: '#ffffff',
			},
		}],
	};


	getInfectedPerProvince();
	generateStringDates();

	function addStringDate(date) {
		dates.push(date.format('DD MMM'));
	}

	function generateStringDates() {
		const startDate = moment("20200312", "YYYYMMDD");
		for (let i = 0; i < personsPerDay.length; i++) {
			startDate.add(1, 'days');
			addStringDate(startDate);
		}
	}

	function getInfectedPerProvince() {
		personsPerDay = provinceInfo[currentProvince].infected;
		currentInfected = personsPerDay[personsPerDay.length - 1];
	}

	function getInfectionsPerProvince() {
		var previous = 0;
		personsPerDay = provinceInfo[currentProvince].infected.map((current) => {
			let diference = current - previous;
			previous = current;
			return diference;
		});

		currentInfected = personsPerDay[personsPerDay.length - 1] - personsPerDay[personsPerDay.length - 2];
	}

	afterUpdate(() => {
		let isInfected = datasetLabel === 'contagiados';
		if (isInfected) {
			getInfectedPerProvince(currentProvince);
		} else {
			getInfectionsPerProvince(currentProvince);
		}
	})

</script>
<PieChart labels={dates} title={datasetLabel + ' ' + currentInfected} datos={[personsPerDay]} divId={divId}
	coloresBackground={'rgba(255, 206, 86, 0.5)'} coloresBorde={['rgba(255, 99, 132, 1)']} type={type}
	scales={scales} />
<style>
</style>