<script>
	import Chart from 'chart.js';
	import {afterUpdate, onMount} from 'svelte';
	export var divId;
	export var title = 'TITULO';
	var chart;
	export var labels = [];
	export var datos = [];
	export var coloresBackground;
	export var coloresBorde = [];
	export var type= 'pie';
	export var scales = null;

	onMount(
		() => {
			var ctx = document.getElementById(divId).getContext('2d');
			chart = new Chart(ctx, {
				type: type,
				data: {
					labels: labels,
					datasets: buildDatasets()
				},
				options: {
					scales: scales,
					legend: {
						labels: {
							fontColor: '#ffffff',
						}
					},
				}
			});
		}, false);

		afterUpdate(() => {
			if(chart) {
				updateData();
				chart.update();
			}
		})

		function updateData() {
			chart.data.datasets.forEach((dataset,index) => {
				dataset.data = datos[index];
			});
			// chart.data.datasets[0].data = datos;
		}

		function buildDatasets() {
			return datos.map(dataset => {
				return {
						label: '',
						data: dataset,
						backgroundColor: coloresBackground,
						borderColor: coloresBorde,
						borderWidth: 1
					};
			});
		}

</script>
<h4 class="chart-title">{title}</h4>
<style>
	.chart-title{
		color: #ffffff;
	}
</style>

