<script>
	import Chart from 'chart.js';
	import moment from 'moment';
	import {colors} from '../colors'
	import 'moment/locale/es';
    import axios from 'axios';
    var countries = [];
    var countriesInfo;
    export var countryA = {country: 'Afghanistan', state: ''};
    export var countryB = {country: 'Afghanistan', state: ''};
	var chart;
	var chart2;
	var dates = [];
    var personsPerDayA = [];
	var personsPerDayB = [];
	var incrementsA = [];
	var incrementsB = [];
    var currentInfectedA = 0;
    var currentInfectedB = 0;

	window.addEventListener('load',
		() => {
			getCountriesInfo();
		}, false);

	function getCountriesInfo() {
        axios.get('https://covid2019-api.herokuapp.com/v2/timeseries/confirmed')
        .then( response => {
            countriesInfo = response.data.data;
            countries = countriesInfo.map( info => {
                return {country: info['Country/Region'], state: info['Province/State']};
            });
            getInfectedPerCountry();
			chart = createChart('chartCountry', personsPerDayA, personsPerDayB, 'line');
			chart2 = createChart('chartCountry2', incrementsA, incrementsB, 'bar');
        }). catch( error => {
            console.log(error);
        });
	}

    function getInfectedPerCountry() {
		var previous = 0;

		let countryInfo = countriesInfo.find(info => {
            return info['Country/Region'] === countryA.country
            && info['Province/State'] === countryA.state;
        });
        personsPerDayA = countryInfo.TimeSeries.map( info => {
            return info.value;
		});
		
		incrementsA = personsPerDayA.map(current => {
			let dif = current - previous;
			previous = current;
			return dif;
		});

		previous = 0;

        let countryInfoB = countriesInfo.find(info => {
            return info['Country/Region'] === countryB.country
            && info['Province/State'] === countryB.state;
        });
        personsPerDayB = countryInfoB.TimeSeries.map( info => {
            return info.value * -1;
		});
		incrementsB = personsPerDayB.map(current => {
			let dif = current - previous;
			previous = current;
			return dif;
		});

        dates = countryInfo.TimeSeries.map( info => {
            return moment(info.date, "MM/DD/YY").format('DD MMM');
        });
    }

    function createChart(id, dataA, dataB, type) {
        var ctx = document.getElementById(id).getContext('2d');
		return new Chart(ctx, {
				type: type,// 'horizontalBar',
				data: {
					labels: dates,
					datasets: [
					{
						label: countryA.country + countryA.state,
						data: dataA,
						backgroundColor: 
							'rgba(255, 206, 86, 0.5)',
						
						borderColor: [
							'rgba(255, 99, 132, 1)',
						],
						borderWidth: 1
                    },
					{
						label: countryB.country + countryB.state,
						data: dataB,
						backgroundColor: 
                            'rgba(75, 192, 192, 1)',
						
						borderColor: [
							'rgba(255, 99, 132, 1)',
						],
						borderWidth: 1
					}
                ]
				},
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true,
								fontColor: '#ffffff',
							},
						}],
						xAxes: [{
							ticks: {
								beginAtZero: false,
								fontColor: '#ffffff',
							},
						}],
					},
					legend: {
						labels: {
							fontColor: '#ffffff',
						}
					},
				}
			});
    }

	function updateChart() {
        if (chart) {
			getInfectedPerCountry();
			chart.data.datasets[0].data = [...personsPerDayA];
			chart.data.datasets[0].label = countryA.country + countryA.state;
			chart.data.datasets[1].data = [...personsPerDayB];
			chart.data.datasets[1].label = countryB.country + countryB.state;
			chart2.data.datasets[0].data = [...incrementsA];
			chart2.data.datasets[0].label = countryA.country + countryA.state;
			chart2.data.datasets[1].data = [...incrementsB];
			chart2.data.datasets[1].label = countryB.country + countryB.state;
			chart2.update();
            chart.update();
        }
	}
</script>
<div class="row top-padding">
	<div class="col-sm-12">
		<h3 class="chart-title">Comparacion de contagiados</h3>
	</div>
</div>
<form>
	<div class="form-group row">
        <div class="col-sm-2"></div>
		<label  class="col-sm-2 col-form-label label" for="input1">
			Comparar
		</label>
		<div class="col-sm-2">
			<select class="form-control form-control-sm"
			id="input1"
            bind:value={countryA}
            on:change="{() => updateChart() }">
				{#each countries as country}
					<option value={country}>
						{country.country + ' ' + country.state}
					</option>
				{/each}
			</select>
		</div>
		<label for="input2" class="col-sm-4 col-form-label label">
			con
		</label>
		<div class="col-sm-2">
			<select  id="input2" class="form-control form-control-sm" bind:value={countryB} on:change="{() => updateChart() }">
				{#each countries as country}
					<option value={country}>
						{country.country + ' ' + country.state}
					</option>
				{/each}
			</select>
		</div>
        <div class="col-sm-2"></div>
	  </div>
</form>
<div class="row top-padding">
	<div class="col-sm-6">
		<h5 class="sub-title">Contagiados totales</h5>
		<canvas id="chartCountry" class="chart-text" style="height: 60vh; width: 100%;"></canvas>
	</div>
	<div class="col-sm-6">
		<h5 class="sub-title">Contagios diarios</h5>
		<canvas id="chartCountry2" class="chart-text" style="height: 60vh; width: 100%;"></canvas>
	</div>
</div>
<style>
	.chart-title{
		color: #ffffff;
	}

	.autcomplete {
		display: flexbox;
	}

	.sub-title {
		font-size: 1.5rem;
		color: #b1bdc5;
	}

	.label{
		font-size: 1.5rem;
		color: #c6c6c6;
	}


	select {
		color: #000000;
		background-color: #c6c6c6;
	}
</style>